<div *ngIf="showNavBar">
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h2>10Pearls</h2>      
    <p>Angular 2 Training</p>
  </div>
</div>
<nav   class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/dashboard" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/Users" routerLinkActive="active">Users</a></li>
        <li><a routerLink="/register" routerLinkActive="active">SignUp</a></li>
        <li><a href="#">Link3</a></li>
        <li><a href="#">Link4</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>