<div class='jira-component-center'>
<form (ngSubmit)="onSubmit()" [formGroup]="bugs" #register="ngForm" class="form-horizontal">
 <fieldset>
  <legend>Jira Login:</legend>
  <div class="form-group" [ngClass]="{'has-error':!bugs.controls['UserName'].valid && bugs.controls['UserName'].touched}">
    <label class="control-label col-sm-2">UserName</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="UserName"  formControlName="UserName">
      <div *ngIf="bugs.controls['UserName'].hasError('required') && bugs.controls['UserName'].touched" class="alert alert-danger">Required</div>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error':!bugs.controls['Password'].valid && bugs.controls['Password'].touched}">
    <label class="control-label col-sm-2">Password:</label>
    <div class="col-sm-10"> 
      <input type="password" class="form-control" id="Password"  formControlName="Password">
      <div *ngIf="bugs.controls['Password'].hasError('required') && bugs.controls['Password'].touched" class="alert alert-danger">Required</div>
    </div>
  </div>
 </fieldset>
    
   <br>
   <br>

<fieldset>
  <legend>SubTask Detail:</legend>
 <div class="form-group" [ngClass]="{'has-error':!bugs.controls['Ticket'].valid && bugs.controls['Ticket'].touched}">
    <label class="control-label col-sm-2">Enter Ticket #:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Ticket" placeholder="Enter Ticket Number" formControlName="Ticket">
      <div *ngIf="bugs.controls['Ticket'].hasError('required') && bugs.controls['Ticket'].touched" class="alert alert-danger">Required</div>
    </div>
</div>

 <div class="form-group" [ngClass]="{'has-error':!bugs.controls['Analysis'].valid && bugs.controls['Analysis'].touched}">
    <label class="control-label col-sm-2">Analysis:</label>
    <div class="col-sm-10">
          <select formControlName="Analysis" id="Analysis" class="form-control"> 
         <option value="">Select a user</option> 
        <option *ngFor="let obj of jiraUsers" [value]="obj.value">{{obj.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error':!bugs.controls['Development'].valid && bugs.controls['Development'].touched}">
    <label class="control-label col-sm-2">Development:</label>
    <div class="col-sm-10"> 
       <select formControlName="Development" id="Development" class="form-control"> 
          <option value="">Select a user</option> 
        <option *ngFor="let obj of jiraUsers" [value]="obj.value">{{obj.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error':!bugs.controls['DesignTestCases'].valid && bugs.controls['DesignTestCases'].touched}">
    <label class="control-label col-sm-2">Design Test Case(s):</label>
    <div class="col-sm-10"> 
      <select formControlName="DesignTestCases" id="DesignTestCases" class="form-control"> 
         <option value="">Select a user</option> 
        <option *ngFor="let obj of jiraUsers" [value]="obj.value">{{obj.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error':!bugs.controls['CodeAudit'].valid && bugs.controls['CodeAudit'].touched}">
    <label class="control-label col-sm-2">Code Audit (10Pearls):</label>
    <div class="col-sm-10"> 
      <select formControlName="CodeAudit" id="CodeAudit" class="form-control"> 
         <option value="">Select a user</option> 
        <option *ngFor="let obj of jiraUsers" [value]="obj.value">{{obj.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error':!bugs.controls['CodeDeployment'].valid && bugs.controls['CodeDeployment'].touched}">
    <label class="control-label col-sm-2">Code Deployment (10Pearls site):</label>
    <div class="col-sm-10"> 
      <select formControlName="CodeDeployment" id="CodeDeployment" class="form-control"> 
         <option value="">Select a user</option> 
        <option *ngFor="let obj of jiraUsers" [value]="obj.value">{{obj.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group"  [ngClass]="{'has-error':!bugs.controls['QaTesting'].valid && bugs.controls['QaTesting'].touched}">
    <label class="control-label col-sm-2">QA Testing (10Pearls site):</label>
    <div class="col-sm-10"> 
     <select formControlName="QaTesting" id="QaTesting" class="form-control"> 
        <option value="">Select a user</option> 
       <option *ngFor="let obj of jiraUsers" [value]="obj.value">{{obj.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group" [ngClass]="{'has-error':!bugs.controls['CodeMerge'].valid && bugs.controls['CodeMerge'].touched}">
    <label class="control-label col-sm-2">Code Merge:</label>
    <div class="col-sm-10"> 
     <select formControlName="CodeMerge" id="CodeMerge" class="form-control"> 
        <option value="">Select a user</option> 
       <option *ngFor="let obj of jiraUsers" [value]="obj.value">{{obj.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group" [ngClass]="{'has-error':!bugs.controls['DeploymentToDev'].valid && bugs.controls['DeploymentToDev'].touched}">
    <label class="control-label col-sm-2">Deployment to Dev/QA sites:</label>
    <div class="col-sm-10"> 
    <select formControlName="DeploymentToDev" id="DeploymentToDev" class="form-control" > 
        <option disabled selected>Select a User</option>
        <option *ngFor="let obj of jiraUsers" [value]="obj.value" [selected]="i == 0">{{obj.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group" [ngClass]="{'has-error':!bugs.controls['QaIntegration'].valid && bugs.controls['QaIntegration'].touched}">
    <label class="control-label col-sm-2">QA Integration:</label>
    <div class="col-sm-10"> 
     <select formControlName="QaIntegration" id="QaIntegration" class="form-control"> 
        <option disabled selected>Select a User</option>
        <option *ngFor="let obj of jiraUsers" [value]="obj.value">{{obj.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" [disabled]="!bugs.valid" class="btn btn-default">Submit</button>
    </div>
  </div>

</fieldset>

</form>
</div>