<html>
<head>
<title>Registration</title>
</head>
<body>
<form (ngSubmit)="onSubmit(register)" [formGroup]="user" #register="ngForm"  class="form-horizontal">


 <div class="form-group">
    <label class="control-label col-sm-2">First Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="FirstName" placeholder="Enter First Name" formControlName="FirstName">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Last Name:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="LastName" placeholder="Enter Last Name" formControlName="LastName">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Email:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="Email" placeholder="Enter Email Address" formControlName="Email">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2">Cell Phone:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="CellPhone" placeholder="Enter CellPhone" formControlName="CellPhone">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2">Country:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="Country" placeholder="Enter Country" formControlName="Country">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2">State:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="State" placeholder="Enter State" formControlName="State">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2">City:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="City" placeholder="Enter City" formControlName="City">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>






<!--
  <label>
    <span>Full name</span>
    <input
      type="text"
      placeholder="Your full name"
      formControlName="name">
       <p *ngIf="user.controls.name.errors?.required">required error</p>
  </label>
  <div formGroupName="account">
    <label>
      <span>Email address</span>
      <input
        type="email"
        placeholder="Your email address"
        formControlName="email">
    </label>
    <label>
      <span>Confirm address</span>
      <input
        type="email"
        placeholder="Confirm your email address"
        formControlName="confirm">
    </label>
  </div>
    <input formControlName="address" type="text" placeholder="Your Address">

    <input formControlName="lastname" type="text" placeholder="Your LastName">
  <button [disabled]="!register.form.valid" type="submit">Sign up</button>-->
</form>
</body>
</html>





<!--<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10"> 
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>-->