<html>
<head>
<title>Registration</title>
</head>
<body>
<form (ngSubmit)="onSubmit(register)" [formGroup]="user" #register="ngForm">
  <label>
    <span>Full name</span>
    <input
      type="text"
      placeholder="Your full name"
      formControlName="name">
       <p *ngIf="user.controls.name.errors?.required">required error</p>
  </label>
  <div formGroupName="account">
    <label>
      <span>Email address</span>
      <input
        type="email"
        placeholder="Your email address"
        formControlName="email">
    </label>
    <label>
      <span>Confirm address</span>
      <input
        type="email"
        placeholder="Confirm your email address"
        formControlName="confirm">
    </label>
  </div>
    <input formControlName="address" type="text" placeholder="Your Address">

    <input formControlName="lastname" type="text" placeholder="Your LastName">
  <button [disabled]="!register.form.valid" type="submit">Sign up</button>
</form>
</body>
</html>